<div class="max-w-7xl mx-auto w-full">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <!-- FIRST - PC -->
    <div
      class="bg-[url(/images-home/pc.webp)] rounded-xl shadow-lg p-5 text-white min-h-100 bg-cover bg-center hover:scale-105 transition-transform duration-300"
    >
      <a href="/pc"><div class="h-full"></div></a>
    </div>

    <!-- SECOND - PLAYSTATION -->
    <div
      class="bg-[url(/images-home/PlayStation.webp)] rounded-xl shadow-lg p-5 text-white md:col-span-2 min-h-100 bg-cover bg-center hover:scale-105 transition-transform duration-300"
    >
      <a href="/play-station"><div class="h-full"></div></a>
    </div>

    <!-- THIRD - XBOX -->
    <div
      class="bg-[url(/images-home/Xbox.webp)] rounded-xl shadow-lg p-5 text-white md:col-span-2 min-h-100 bg-cover bg-center hover:scale-105 transition-transform duration-300"
    >
      <a href="/xbox"><div class="h-full"></div></a>
    </div>

    <!-- FOURTH - NINTENDO FUTURE-->
    <div
      class="bg-[url(/images-home/switch.webp)] rounded-xl shadow-lg p-5 text-white min-h-100 bg-cover bg-center hover:scale-105 transition-transform duration-300 relative"
    >
      <!-- <a href="/pc"><div class="h-full"></div></a> -->
      <h3 class="absolute left-22 text-shadow-xl font-bold text-4xl">
        MUY PRONTO
      </h3>
    </div>
  </div>
</div>
